* {
  font-family: "Fredoka", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

main {
  overflow: hidden;
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  place-content: center;
  margin-bottom: 4rem;
}

.container {
  display: flex;
  align-items: center;
  height: 250px;
  width: 37rem;
  position: relative;
}

#round {
  width: 37rem;
  height: 70px;
  padding: 0.4rem 1.5rem;
  /* background-color: #ddb78a; */
  border-radius: 50px;
  /* border: 5px solid #ffeab6; */
  display: grid;
  place-content: center;
  position: relative;
}

.progress-bar-container {
  width: 34rem;
  height: 35px;
  border-radius: 15px;
  background-color: transparent;
  border: 3px solid #8d8798;
  /* position: relative; */
  overflow: hidden;
}

.progression {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  /* color: #f3bdf9; */
  font-size: 1.2rem;
  margin: auto;
  bottom: -0.3rem;
  right: 1.5rem;
  z-index: 4;
  /* text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em; */
}

.heart {
  position: absolute;
  bottom: 0rem;
  right: 1.5rem;
}

.progress-bar {
  display: flex;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 70px;
  transition: width 0.2s;
  position: relative;
  bottom: 1rem;
}

.img-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden-container {
  position: absolute;
  height: 100%;
}

.img-container {
  position: absolute;
  z-index: 2;
  top: 7.4rem;
  left: 1rem;
  transition: left 0.2s;
}

.img-container img {
  height: 40px;
}
.progression-img {
  position: absolute;
  top: 0.6rem;
  z-index: 3;
}

.goal-name {
  position: absolute;
  top: 4.2rem;
  left: 2rem;
  height: 3.5rem;
  border-radius: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-transform: uppercase;
  color: white;
}

.goal-name p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.left-ear {
  position: absolute;
  top: -1.2rem;
  left: 1rem;
  transform: scaleX(-1);
  z-index: -1;
}

.right-ear {
  position: absolute;
  top: -1.2rem;
  right: 1rem;
  z-index: -1;
}

.tail {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  z-index: -1;
}

.widget {
  border: 1px solid red;
  width: 800px;
  height: 1000px;
}

.percentage {
  position: absolute;
  color: white;
  z-index: 2;
  top: 2rem;
  left: 2.7rem;
  font-size: 1.5rem;
}

.bananas {
  position: relative;
  /* top: 0.5rem; */
  left: -2rem;
  z-index: 2;
  /* border: 1px solid red; */
  height: 50px;
}

.bananas img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.img-off {
  opacity: 0;
  /* animation: imgOff .7s ease-in-out forwards; */
}

.img-on {
  opacity: 0;
  /* animation: imgOn 1s .4s ease-in-out forwards; */
}

@keyframes imgOff {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes imgOn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  70% {
    transform: rotate(20deg);
    opacity: 1;
  }

  80% {
    transform: rotate(0);
  }

  100% {
    opacity: 0;
  }
}
