:root {
  --message-color: white;
  --message-background-color: #a3e4ff;
  --message-border-color: #7bb87e;
  --user-color: #a3e4ff;
  --user-background-color: transparent;
  --user-border-color: #e6e6e6;
  --pronouns-color: #fff;
  --pronouns-background-color: transparent;
  --pronouns-border-color: #e6e6e6;
  --pronouns-shadow-color: rgba(120, 120, 120, 0.38);
  --mods-background-color: #d1cfb4;
  --mods-message-border: #fff3eb;
  --event-background-color: #ffb2c1;
  --event-shadow-color: #a38c79;
  --event-color: #fef9fd;
  --hyphen-color: #fff;
}

* {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

.scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.scale-down {
  transform: scale(0);
  transition: transform 0.2s;
}

.emotes {
  width: 4.375rem;
  vertical-align: middle;
}

main {
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5rem;
  margin-bottom: 1rem;
}

.super-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 37.5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.main-container {
  max-width: 37.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-radius: 40px;
}

@keyframes growMessageContainer {
  0% {
    padding-right: 0;
    padding-left: 0;
  }

  100% {
    padding-right: 2.3rem;
    padding-left: 2.3rem;
  }
}

@keyframes growMainContainer {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.origami {
  width: 10%;
  height: 100%;
  min-height: 150px;
  margin-right: 15px;
}

@keyframes showLines {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: grid;
  place-content: center;
  margin-top: 0.5rem;
  height: 100%;
}

.dot {
  background-color: #dad2f7;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.circle {
  height: 42px;
  width: 42px;
  transform: scale(.9);
  position: relative;
  fill: transparent;
  stroke: #dad2f7;
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  margin-bottom: 5px;
  animation: showLines 1s .3s forwards ease-in-out;
  opacity: 0;
}

.ori-flower {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 46px;
  height: 44px;
  z-index: 2;
  transform: scale(0.8);
}

.circulo {
  transform: rotate(-90deg);
}

@keyframes showOriFlower {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dibujarCirculo {
  0% {
    stroke-dasharray: 0, 283;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 283, 283;
  }
}

.ori-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ori-container {
  margin-top: 5px;
  display: grid;
  place-content: center;
}

.username-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 0;
  opacity: 0;
  margin-bottom: 1rem;
  animation: growUserCont 0.5s .5s ease-in-out forwards;
}

@keyframes growUserCont {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

#lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes growLine {
  0% {
    height: 0;
  }

  100% {
    height: 1rem;
  }
}

#small-line {
  width: 2px;
  height: 0;
  background-color: #fff;
  animation: growLine 0.5s 1s forwards;
  margin-top: 5px;
}

#little-paw {
  opacity: 0;
  height: 0;
  animation: showPaw 1s 2s forwards;
}

#big-line {
  width: 2px;
  height: 0px;
  background-color: #fff;
  transition: height .6s ease-in-out;
}


.username-info {
  width: fit-content;
  border-radius: 1.25rem;
  text-align: center;
  padding-right: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  background-color: var(--user-background-color);
  animation: growUserCont 0.8s .5s ease-in-out forwards;
}

.flower {
  position: absolute;
  bottom: -0.5rem;
  left: -1.5rem;
  height: 64px;
  width: 64px;
  transform: scale(0.8);
}

.leafs-container {
  position: absolute;
  right: 0.6rem;
  bottom: 0.3rem;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.username-badges {
  display: flex;
  gap: 5px;
}

.badges-img {
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
}

.capitalize-user {
  color: var(--user-color);
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  max-width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em;
}

@keyframes growCapitalizeUser {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.message-container {
  flex-grow: 1;
  padding-top: 2rem;
  max-width: 32rem;
  padding-bottom: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  margin-top: 0.5rem;
  border-radius: 30px;
  background-color: var(--message-background-color);
  position: relative;
  max-width: 28.6rem;
  animation: slideMessage 1s 1.2s ease-in-out forwards;
  transform: scale(0);
  transform-origin: bottom left;
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom left;
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom left;
  }
}

@keyframes growPadding {
  0% {
    padding-left: 0;
    padding-right: 0;
    width: 0;
  }
  100% {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    width: 100%;
  }
}

@keyframes growMessage {
  0% {
    width: 0;
  }
  100% {
    width: 37.5rem;
  }
}

.message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0;
  animation: showPronouns 0.5s .5s forwards;
}

.rendered-text {
  word-wrap: break-word;
  display: inline-block;
  min-width: 20rem;
  max-width: 31.25rem;
  color: var(--message-color);
  white-space: normal;
  animation: twinkleText 0.5 1 forwards;
  text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em;
}

.pronouns {
  color: var(--pronouns-color);
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  bottom: 0;
  z-index: 1;
  font-weight: 700;
  opacity: 0;
  align-self: flex-end;
  text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em;
  padding-bottom: 0.2rem;
}

@keyframes showPronouns {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prons {
  max-width: 100%;
  text-align: center;
  background: var(--pronouns-background-color);
  border-radius: 1.25rem;
}

.separator {
  background-color: transparent !important;
  border: none;
  justify-content: center;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -0.625rem !important;
  margin-bottom: 1.875rem !important;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
}

.emote img {
  max-width: 3.5rem;
  width: 100%;
}

.invert {
  transform: scaleX(-1);
}

.hyphen {
  height: 2px;
  width: 0.4rem;
  background-color: var(--hyphen-color);
  align-self: flex-end;
  margin-bottom: 0.6rem;
}

.event-container {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding: 0 0;
  width: 37.5rem;
  position: relative;
  align-self: flex-start;
}

@keyframes growEventContainer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.widget {
  width: 800px;
  height: 1000px;
}

.event-name {
  max-width: 300px;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--event-color);
  letter-spacing: normal;
  font-size: 1.5rem;
  min-width: 170px;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  padding: 3px 10px;
  border-radius: 40px;
}

@keyframes showName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.event-leafs-container-1,
.event-leafs-container-2 {
  height: 32px;
  width: 38px;
  display: grid;
  place-content: center;
}

.event-leafs-container img {
  padding-top: 4px;
}

.event-and-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  min-width: 400px;
  opacity: 0;
  animation: showEventAndName .5s .6s ease-in-out forwards;
}

@keyframes showEventAndName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.event-text {
  color: var(--event-color);
  letter-spacing: normal;
  font-size: 1.5rem;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  background-color: #ff9aac;
  padding: .4rem;
  border-radius: 5px;
}

.event-leafs-container-1 img {
  animation: showLeftFungi 0.5s ease-in-out forwards;
}

.event-leafs-container-2 img {
  order: 2;
  transition: none;
  transform: rotateY(180deg);
  animation: showRightFungi 0.5s ease-in-out forwards;
}

.event-leafs-container-2 {
  order: 2;
}

.role-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.role {
  width: 40px;
  height: 40px;
}

.fungi {
  opacity: 0;
  animation: showNames 1s 1.4s ease-in-out forwards;
  position: absolute;
  left: -1.7rem;
  bottom: 50%;
  width: 32px;
  height: 38px;
  transform: scale(0.9);
}

.brillo-1 {
  position: absolute;
  left: -3rem;
  bottom: 30%;
  opacity: 0;
  animation: showPronouns .5s 2s ease-in-out forwards
}

.brillo-2 {
  position: absolute;
  right: -.5rem;
  bottom: 40%;
  opacity: 0;
  animation: showPronouns .5s 2.2s ease-in-out forwards
}

.brillo-msg-1 {
  position: absolute;
  left: -.5rem;
  bottom: 50%;
  opacity: 0;
  animation: showPronouns .5s 1.8s ease-in-out forwards
}

.brillo-msg-2 {
  position: absolute;
  right: 6rem;
  bottom: -.5rem;
  opacity: 0;
  animation: showPronouns .5s 2.1s ease-in-out forwards
}

.fungi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.4rem;
  padding: 2.4rem 0;
  background-color: #ffb2c1;
  border-radius: 30px;
  position: relative;
  margin-left: 4.35rem;
  animation: slideMessage 1s ease-in-out forwards;
}

.moon {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  z-index: 2;
  transform: scale(0.9);
}

#moon-svg {
  animation: showLines .5s 1.2s ease-in-out forwards;
  transform: scale(0.7);
  opacity: 0;
}

.ears-msg-1 {
  position: absolute;
  left: 1.4rem;
  top: -1.2rem;
  transform: scale(.9);
  opacity: 0;
  animation: showPronouns 0.5s 1.5s ease-in-out forwards;
}

.ears-msg-2 {
  position: absolute;
  right: 1.4rem;
  top: -1.2rem;
  z-index: -1;
  opacity: 0;
  transform: scale(.9) scaleX(-1);
  animation: showPronouns 0.5s 1.5s ease-in-out forwards;
}

.ears-1 {
  position: absolute;
  left: 1.4rem;
  top: -1.2rem;
  opacity: 0;
  z-index: -1;
  animation: showPronouns 0.5s 1.3s ease-in-out forwards;
  transform: scale(.9);
}

.ears-2 {
  position: absolute;
  right: 1.4rem;
  top: -1.2rem;
  opacity: 0;
  z-index: -1;
  animation: showPronouns 0.5s 1.3s ease-in-out forwards;
  transform: scale(.9) scaleX(-1);
}

.mascara {
  width: 36px;
  height: 44px;
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 2;
  transform: scale(0.7);
}

@keyframes growFungiContainer {
  0% {
    width: 0;
    padding: 2.4rem 0;
  }
  100% {
    width: 100%;
    padding: 2.4rem 2rem;
  }
}

@keyframes showLeftFungi {
  0% {
    transform: translateX(-100%) scale(0.65);
  }

  100% {
    transform: translateX(0%) scale(0.65);
  }
}

@keyframes showRightFungi {
  0% {
    transform: translateX(100%) rotateY(180deg) scale(0.65);
  }

  100% {
    transform: translateX(0%) rotateY(180deg) scale(0.65);
  }
}

@keyframes hideLeftStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes hideRightStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes showNames {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideNames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(0%);
    transform-origin: bottom center;
  }
}

@keyframes glowHearts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom center;
  }
}

@keyframes popUpText {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
