* {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

main {
  overflow: hidden;
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  place-content: center;
  margin-bottom: 4rem;
}

.container {
  display: flex;
  align-items: center;
  /* height: 250px; */
  width: 37rem;
  position: relative;
}

#round {
  width: 37rem;
  height: 70px;
  padding: 0.4rem 1.5rem;
  background-color: white;
  border-radius: 50px;
  border: 5px solid #b8dd4f;
  display: grid;
  place-content: center;
}

.progression-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-bar-container {
  width: 34rem;
  height: 50px;
  border-radius: 15px;
  background-color: #fad45f;
  position: relative;
  overflow: hidden;
}

.progression {
  /* position: absolute; */
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  color: white;
  font-size: 1.5rem;
  /* margin: auto; */
  /* width: 100%; */
  height: 100%;
  z-index: 4;
  bottom: 0rem;
  text-shadow: 1px 2px 5px rgba(88, 62, 32, .8);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.bit {
  transform: scale(.7);
}

.progress-bar {
  display: flex;
  width: 0px;
  background-color: #b8dd4f;
  height: 70px;
  transition: width 0.2s;
  position: relative;
}

.img-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden-container {
  position: absolute;
  height: 100%;
}

.img-container {
  position: absolute;
  z-index: 2;
  top: 7.85rem;
  left: 1rem;
  transition: left 0.2s;
}

.img-container img {
  height: 40px;
}
.progression-img {
  position: absolute;
  /* right: -2rem; */
  top: 0.6rem;
  z-index: 3;
}

.goal-name {
  position: absolute;
  top: 3.9rem;
  left: 3rem;
  width: 14rem;
  height: 3.5rem;
  background-color: #fff4f4;
  box-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px;
  border-radius: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-transform: uppercase;
  color: #ddb78a;
}

.goal-text {
  /* border: 1px solid red; */
  /* position: absolute; */
  bottom: 3.5rem;
  left: 11.5rem;
  margin-top: .5rem;
  margin-left: 2rem;
  max-width: 34rem;
  font-size: 1.5rem;
  color: #b8dd4f;
  text-shadow: 1px 2px 5px rgba(88, 62, 32, .8);
  /* white-space: nowrap; */
}

.goal-name p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.left-ear {
  position: absolute;
  top: -1.2rem;
  left: 1rem;
  transform: scaleX(-1);
  z-index: -1;
}

.right-ear {
  position: absolute;
  top: -1.2rem;
  right: 1rem;
  z-index: -1;
}

.tail {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  z-index: -1;
}

.widget {
  border: 1px solid red;
  width: 800px;
  height: 1000px;
}

.pico-container {
  display: flex;
  position: absolute;
  top: 5.1rem;
  left: 2.15rem;
  z-index: -1;
}

.pico-container-bot {
  display: flex;
  position: absolute;
  bottom: 5rem;
  left: 2.3rem;
  z-index: -1;
  transform: scaleY(-1);
}

.pico {
  width: 26px;
  /* height: 1.5rem; */
  /* border-radius: 50%; */
  /* background-color: #583e20; */
  /* margin: 0 0.5rem; */
}

.colita {
  position: absolute;
  left: -6.5rem;
  top: 1.3rem;
  z-index: -1;
  animation: none;
  transition: all 1s;
  transform-origin: bottom right;
  /* transform: rotate(2deg); */
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

