:root {
  --message-color: #7c3844;
  --message-background-color: transparent;
  --message-border-color: #7bb87e;
  --user-color: white;
  --user-background-color: #e96e99;
  --user-border-color: #e6e6e6;
  --pronouns-color: #7c3844;
  --pronouns-background-color: #ffd7ea;
  --pronouns-border-color: #e6e6e6;
  --mods-background-color: #d1cfb4;
  --mods-message-border: #fff3eb;
  --event-background-color: rgba(155, 179, 142, 0.5);
  --event-color: #e96e99;
  --hyphen-color: #f3bdf9;
}

* {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

/* .scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.scale-down {
  transform: scale(0);
  transition: transform 0.2s;
} */

.emotes {
  width: 4.375rem;
  vertical-align: middle;
}

main {
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 2rem;
}

.super-main-container {
  display: flex;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 43rem;
  margin-bottom: 2rem;
}

.main-container {
  max-width: 37.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 40px;
  z-index: 1 !important;
}

.origami {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 1.5rem;
}

.container {
  display: grid;
  place-content: center;
  margin-top: 0.5rem;
}

.dot-1 {
  background-color: white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  opacity: 0;
  animation: showDot 0.6s linear forwards;
}

.dot-2 {
  background-color: white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  opacity: 0;
  animation: showDot 0.6s 0.2s linear forwards;
}

@keyframes showDot {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.circle {
  height: 65px;
  width: 65px;
  position: relative;
  fill: transparent;
  stroke: white;
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: dibujarCirculo 0.8s linear forwards;
  margin-bottom: 5px;
}

.ori-flower {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 46px;
  height: 44px;
  z-index: 2;
  transform: scale(0.8);
}

.circulo {
  transform: rotate(-90deg);
}

@keyframes dibujarCirculo {
  0% {
    stroke-dasharray: 0, 283;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 283, 283;
  }
}

.ori-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ori-container {
  margin-top: 5px;
  display: grid;
  place-content: center;
  opacity: 0;
  animation: oscilate4 1.3s 0.2s forwards ease-out;
  transform: translateX(22px) translateY(-10px);
}

.username-info-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
}

.username-line {
  width: 0;
  height: 5px;
  border-radius: 20px;
  background-color: var(--user-background-color);
  top: 50%;
  left: 0;
  animation: widtLine 0.5s .6s ease-in-out forwards;
  transition: height 0.4s .1s ease-in-out;
}

@keyframes widtLine {
  0% {
    width: 0;
  }

  100% {
    width: 2.5rem;
  }
}

.username-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--user-background-color);
  top: 50%;
  left: 0;
}

.big-line {
  width: 5px;
  height: 0;
  border-radius: 20px;
  background-color: var(--user-background-color);
  top: 50%;
  left: 0;
  transition: height 0.4s .1s ease-in-out;
}

.big-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--user-background-color);
  top: 50%;
  left: 0;
  opacity: 0;
  animation: showBigDot 0.6s .8s ease-in-out forwards;
}

@keyframes showBigDot {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flower-container {
  position: relative;
  opacity: 0;
  animation: showFlowerContainer 0.4s ease-in-out forwards;
}

@keyframes showFlowerContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flower1 {
  animation: swipe 2s ease-in-out infinite forwards;
}

.flower2 {
  position: absolute;
  top: -1rem;
  left: 3rem;
  animation: swipeLeft 2s ease-in-out infinite forwards;
}

@keyframes swipeLeft {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swipe {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.username-info {
  width: fit-content;
  border-radius: 30px;
  text-align: center;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

@keyframes showUser {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.flower {
  position: absolute;
  bottom: -0.5rem;
  left: -1.5rem;
  height: 64px;
  width: 64px;
  transform: scale(0.8);
}

.leafs-container {
  position: absolute;
  right: 0.6rem;
  bottom: 0.3rem;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.username-badges {
  display: flex;
  gap: 5px;
}

.badges-img {
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
}

.capitalize-user {
  color: var(--user-color);
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  max-width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transform: translateX(-200%);
  animation: showUser 0.5s ease-out forwards;
}

.message-container {
  flex-grow: 1;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border-radius: 30px;
  width: fit-content;
  min-width: 100px;
  background-color: var(--message-background-color);
}

.message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 700;
  transform: translateX(-200%);
  animation: showText 0.6s 1.1s ease-in-out forwards;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
}

@keyframes showText {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.rendered-text {
  word-wrap: break-word;
  display: inline-block;
  max-width: 31.25rem;
  color: var(--message-color);
  white-space: normal;
  animation: twinkleText 0.5 1 forwards;
  position: relative;
}

.pronouns {
  color: var(--pronouns-color);
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  transform: translateX(-7rem);
  bottom: 0;
  z-index: 1;
  font-weight: 700;
  padding: 0.3rem 0.3rem;
  text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em;
  background-color: var(--pronouns-background-color);
  text-align: center;
  border-radius: 30px;
  animation: showPronouns 0.5s 0.5s ease-out forwards;
}

@keyframes showPronouns {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.prons {
  max-width: 100%;
  text-align: center;
  background: var(--pronouns-background-color);
  border-radius: 1.25rem;
}

.separator {
  background-color: transparent !important;
  border: none;
  justify-content: center;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -0.625rem !important;
  margin-bottom: 1.875rem !important;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
}

.emote img {
  max-width: 3.5rem;
  width: 100%;
}

.hyphen {
  height: 2px;
  width: 0.4rem;
  background-color: var(--hyphen-color);
  opacity: 0;
  align-self: flex-end;
  margin-bottom: 0.6rem;
}

.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 37.5rem;
  border-radius: 30px;
  margin: 1rem 0;
  position: relative;
  left: 1rem;
}

.fungi {
  transform: scale(0.9);
}

.fungi-container::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  right: 2rem;
  width: 20px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
}

.widget {
  width: 800px;
  height: 1000px;
}

.event-name {
  max-width: 300px;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  color: #bfdf80;
  letter-spacing: normal;
  font-size: 1.5rem;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  transform: translateX(-200%);
  animation: showEvent 1s .5s ease-in-out forwards;
}

@keyframes showEvent {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.event-leafs-container-1,
.event-leafs-container-2 {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
}

.event-leafs-container img {
  height: 18px;
  width: 20px;
  padding-top: 4px;
}

.event-and-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 3.5rem;
}

.event-text {
  color: var(--event-color);
  letter-spacing: normal;
  display: none;
  font-size: 1.5rem;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  background-color: #ffc07f;
  padding: 0.4rem;
  border-radius: 5px;
}

.role-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 17px;
  position: absolute;
  left: -1rem;
  top: 0.3rem;
}

.role {
  width: 20px;
  height: 20px;
  transform: scale(0.8);
}

.fungi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border-radius: 30px;
  position: relative;
}

.streamer {
  width: 49px;
  height: 28px;
  position: absolute;
  top: 16px;
  left: 7px;
  z-index: 2;
  opacity: 0;
  animation: showRol 0.5s ease-in-out forwards;
  transform: scale(0.9);
}

.subscriber {
  width: 44px;
  height: 42px;
  position: absolute;
  top: 11px;
  left: 10px;
  z-index: 2;
  opacity: 0;
  animation: showRol 0.5s ease-in-out forwards;
}
.vip {
  width: 44px;
  height: 40px;
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 2;
  opacity: 0;
  animation: showRol 0.5s ease-in-out forwards;
  transform: scale(0.9);
}

.mod {
  width: 22px;
  height: 42px;
  position: absolute;
  top: 0.9rem;
  left: 1.6rem;
  z-index: 2;
  opacity: 0;
  animation: showRol 0.5s ease-in-out forwards;
}

@keyframes showRol {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(0%);
    transform-origin: bottom center;
  }
}

.heart {
  width: 16px;
  height: 14px;
  position: absolute;
  right: 0;
  bottom: 2.5rem;
  animation: pop 1s .4s ease-in-out infinite forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.message-dot-6::after {
  content: "";
  position: absolute;
  width: 51px;
  height: 40px;
  right: 0.25rem !important;
  bottom: -1rem;
  border-bottom-right-radius: 30px;
  opacity: 0;
  animation: growMessageDot 1s ease-in-out forwards;
}

@keyframes growMessageDot {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.streamer-dots::after {
  border-bottom: 8px dotted #fbb288;
  border-right: 8px dotted #fbb288;
}

.subscriber-dots::after {
  border-bottom: 8px dotted #97d2e6;
  border-right: 8px dotted #97d2e6;
}

.vip-dots::after {
  border-bottom: 8px dotted #e8a9e7;
  border-right: 8px dotted #e8a9e7;
}

.mod-dots::after {
  border-bottom: 8px dotted #dec669;
  border-right: 8px dotted #dec669;
}

.viewer-dots::after {
  border-bottom: 8px dotted #bfdf80;
  border-right: 8px dotted #bfdf80;
}

.streamer-line,
.streamer-dot {
  background-color: #fbb288;
}

.subscriber-line,
.subscriber-dot {
  background-color: #97d2e6;
}

.vip-line,
.vip-dot {
  background-color: #e8a9e7;
}

.mod-line,
.mod-dot {
  background-color: #dec669;
}

.viewer-line,
.viewer-dot {
  background-color: #bfdf80;
}

.streamer-user,
.streamer-text {
  color: #fbb288;
}

.subscriber-user,
.subscriber-text {
  color: #97d2e6;
}

.vip-user,
.vip-text {
  color: #e8a9e7;
}

.mod-user,
.mod-text {
  color: #dec669;
}

.viewer-user,
.viewer-text {
  color: #bfdf80;
}

.top-line {
  width: 5px;
  height: 0;
  border-radius: 20px;
  background-color: var(--user-background-color);
  animation: growTopLine 0.5s ease-in-out forwards;
  background-color: #bfdf80;
}

@keyframes growTopLine {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

.bottom-line {
  width: 5px;
  height: 0;
  border-radius: 20px;
  background-color: #bfdf80;
  animation: growTopLine 0.5s .5s ease-in-out forwards;
}

.middle-dot {
  width: 16px;
  height: 14px;
  transform: scale(.8);
  padding-bottom: 2px;
  animation: pop2 1s .4s ease-in-out infinite forwards;
}

@keyframes pop2 {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

.event-leafs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  min-height: 80px;
}