* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.widget {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

#shelfContainer {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shelf {
  height: 20px;
  order: 2;
  width: 25rem;
}

.bigShelf {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.booksContainer {
  display: flex;
  align-items: end;
  height: 130px;
  margin: 0 .3rem;
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rotate {
  transform: rotate(-20deg);
  /* width: 200px; */
  margin: 0 1.2rem;
}

.relative {
  position: relative;
}

.first-absolute-1 {
  position: absolute;
  top: 3rem;
  left: -3.1rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-2 {
  display: none;
}

.first-absolute-3 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-4 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-5 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-6 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-7 {
  position: absolute;
  top: -.3rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-8 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -24rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-9 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-10 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-11 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-12 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-13 {
  position: absolute;
  top: -.3rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-14 {
  display: none;
  position: absolute;
  top: 3rem;
  left: 9rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-15 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-16 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-17 {
  position: absolute;
  top: 3rem;
  left: -3.1rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-18 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-19 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-20 {
  position: absolute;
  top: 3rem;
  left: -3.1rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-21 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-22 {
  position: absolute;
  top: 3rem;
  left: -2.7rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-23 {
  position: absolute;
  top: 3rem;
  left: -3.1rem;
  z-index: 1;
  transform: scale(.8);
}

.first-absolute-24 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -9rem;
  z-index: 1;
}

.second-absolute-1 {
  position: absolute;
  top: 3rem;
  left: -3rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-2 {
  position: absolute;
  top: 3rem;
  left: -6rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-3 {
  position: absolute;
  top: 3rem;
  left: -9rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-4 {
  position: absolute;
  top: 3rem;
  left: -12rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-5 {
  position: absolute;
  top: 3rem;
  left: -15rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-6 {
  position: absolute;
  top: 3rem;
  left: -18rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-7 {
  position: absolute;
  top: 3rem;
  left: -21rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-8 {
  position: absolute;
  top: 3rem;
  left: -24rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-9 {
  position: absolute;
  top: 3rem;
  left: -27rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-10 {
  position: absolute;
  top: 3rem;
  left: -30rem;
  z-index: 1;
  transform: scale(0.8);
}

.second-absolute-11 {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}

.second-absolute-12 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-13 {
  position: absolute;
  top: 3rem;
  left: 6rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-14 {
  position: absolute;
  top: 3rem;
  left: 9rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-15 {
  position: absolute;
  top: 3rem;
  left: 12rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-16 {
  position: absolute;
  top: 3rem;
  left: 15rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-17 {
  position: absolute;
  top: 3rem;
  left: 18rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-18 {
  position: absolute;
  top: 3rem;
  left: 21rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-19 {
  position: absolute;
  top: 3rem;
  left: 24rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-20 {
  position: absolute;
  top: 3rem;
  left: 27rem;
  z-index: 1;
  transform: scale(.8);
}

.second-absolute-21 {
  position: absolute;
  top: 3rem;
  left: 30rem;
  z-index: 1;
  transform: scale(0.8);
}

.second-absolute-22 {
  position: absolute;
  top: 3rem;
  left: -3rem;
  z-index: 1;
}

.second-absolute-23 {
  position: absolute;
  top: 3rem;
  left: -6rem;
  z-index: 1;
}

.second-absolute-24 {
  position: absolute;
  top: 3rem;
  left: -9rem;
  z-index: 1;
}

.marker-absolute-1 {
  position: absolute;
  top: -.4rem;
  right: -.2rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-2 {
  display: none;
}

.marker-absolute-3 {
  position: absolute;
  top: -.4rem;
  right: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-4 {
  position: absolute;
  top: -.4rem;
  left: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-5 {
  position: absolute;
  top: -.4rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-6 {
  position: absolute;
  top: -.4rem;
  left: 0rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-7 {
  display: none; //por ahora asi
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-8 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -24rem;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-9 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -27rem;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-10 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -30rem;
  z-index: 1;
  transform: scale(0.8);
}

.marker-absolute-11 {
  position: absolute;
  top: -.4rem;
  left: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-12 {
  position: absolute;
  top: -.4rem;
  left: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-13 {
  display: none;
  position: absolute;
  top: 3rem;
  left: 6rem;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-14 {
  display: none;
  position: absolute;
  top: 3rem;
  left: 9rem;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-15 {
  display: none;
  position: absolute;
  top: 3rem;
  left: 12rem;
  z-index: 1;
  transform: scale(.8);
}

.marker-absolute-16 {
  position: absolute;
  top: -.4rem;
  right: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-17 {
  position: absolute;
  top: -.4rem;
  right: -.2rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-18 {
  position: absolute;
  top: -.4rem;
  right: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-19 {
  position: absolute;
  top: -.4rem;
  right: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-20 {
  position: absolute;
  top: -.4rem;
  right: -.2rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-21 {
  position: absolute;
  top: -.4rem;
  left: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-22 {
  position: absolute;
  top: -.4rem;
  right: 0;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-23 {
  position: absolute;
  top: -.4rem;
  right: -.2rem;
  z-index: 1;
  transform: scale(.9);
}

.marker-absolute-24 {
  display: none;
  position: absolute;
  top: 3rem;
  left: -9rem;
  z-index: 1;
}