:root {
  --message-color: #7e3d14;
  --message-background-color: #e99a43;
  --message-border-color: #84100d;
  --user-color: #ffe1a6;
  --user-background-color: #e96e99;
  --user-border-color: #e6e6e6;
  --pronouns-color: #ffe1a6;
  --pronouns-background-color: #ffd7ea;
  --pronouns-border-color: #e6e6e6;
  --pronouns-shadow-color: rgba(120, 120, 120, 0.38);
  --mods-background-color: #d1cfb4;
  --mods-message-border: #fff3eb;
  --event-background-color: rgba(155, 179, 142, 0.5);
  --event-color: #175319;
  --hyphen-color: #ffe9cc;
}

* {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

.scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.scale-down {
  transform: scale(0);
  transition: transform 0.2s;
}

.emotes {
  width: 4.375rem;
  vertical-align: middle;
}

main {
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 2rem;
}

.super-main-container {
  display: flex;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation: slideMessage 0.5s ease-in-out forwards;
  transform: scale(0);
  transform-origin: bottom left;
}

.main-container {
  max-width: 37.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
  z-index: 1 !important;
}

.origami {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.container {
  display: grid;
  place-content: center;
  margin-top: 0.5rem;
}

.username-info-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  position: absolute;
  z-index: 1;
  top: -1.3rem;
}

.username-info {
  width: fit-content;
  /* border-radius: 5px; */
  text-align: center;
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 160px;
  position: relative;
  margin-left: 2.5rem;
  background-color: transparent;
  background: url("https://i.postimg.cc/ryxms60J/tabla.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: px solid #33363a; */
  z-index: -1;
}

.flower {
  position: absolute;
  bottom: -0.5rem;
  left: -1.5rem;
  height: 64px;
  width: 64px;
  transform: scale(0.8);
}

.leafs-container {
  position: absolute;
  right: 0.6rem;
  bottom: 0.3rem;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.username-badges {
  display: flex;
  gap: 5px;
}

.badges-img {
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
}

.capitalize-user {
  color: var(--user-color);
  font-weight: 500;
  font-size: 1.325rem;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 12ch;
}

.message-container {
  flex-grow: 1;
  width: 30rem;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: var(--message-background-color);
  display: flex;
  align-items: center;
  position: relative;
  border: 4px solid var(--message-border-color);
}

.spike-container,
.spike-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: calc(100% - 25px);
  gap: 0.5rem;
  left: 12px;
  top: -0.5rem;
  z-index: -1;
}

.spike-container2 {
  bottom: -3.5rem;
}

.spike {
  width: 30px;
  height: 70px;
  background-color: #ffe080;
  border-radius: 50%;
}

.message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
  padding: 0 1.5rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.7rem;
  color: var(--message-color);
}

.rendered-text {
  word-wrap: break-word;
  display: inline-block;
  min-width: 16rem;
  max-width: 31.25rem;
  white-space: normal;
  animation: twinkleText 0.5 1 forwards;
}

.pronouns {
  color: var(--pronouns-color);
  font-size: .9rem !important;
  text-align: left;
  bottom: 0;
  z-index: 1;
  font-weight: 500;
  padding: 0.3rem 0.3rem;
  text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em;
  text-align: center;
  border-radius: 30px;
  order: 2;
  position: absolute;
  right: -6.2rem;
  top: 0rem;
}

.prons {
  max-width: 100%;
  text-align: center;
  display: inline-block;
  min-width: 6.6rem;
  border-radius: 1.25rem;
  color: var(--pronouns-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.emote img {
  max-width: 3.5rem;
  width: 100%;
}

.event-container {
  width: calc(30rem + 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: transparent;
  background: url("https://i.postimg.cc/wTkj5hkR/hierba-eventos.png");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  /* background-position: center; */
  height: 70px;
  position: relative;
  padding: 0.6rem 0;
  animation: slideMessage 0.5s ease-in-out forwards;
}

.fungi-container {
  padding: 0.5rem 1rem;
}

.fungi {
  height: 42px;
  width: 42px;
  transform: scale(.9);
}

.gif {
  position: absolute;
  transform: scale(0.13);
  top: -8rem;
  right: -13.5rem;
}

.widget {
  width: 800px;
  height: 1000px;
}

.event-name {
  max-width: 280px;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--event-color);
  letter-spacing: normal;
  font-size: 1.5rem;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  padding: 0px 10px;
  text-overflow: ellipsis;
}

.event-leafs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.event-and-name-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 26rem;
  max-width: 26rem;
}

.event-text {
  color: var(--event-color);
  letter-spacing: normal;
  display: none;
  font-size: 1.5rem;
  text-shadow: 0 2px 0.2em var(--event-shadow-color);
  background-color: #ffc07f;
  padding: 0.4rem;

  border-radius: 5px;
}

.role-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 17px;
  position: absolute;
  left: -1rem;
  top: 0.3rem;
}

.role {
  top: -1.3rem;
  transform: scale(0.9);
  position: absolute;
}

.streamer-role {
  top: -0.9rem;
  width: 51px;
  height: 64px;
}

.vip-role {
  top: -1rem;
  width: 52px;
  height: 64px;
}

.mod-role {
  top: -0.5rem;
  width: 64px;
  height: 64px;
}

.sub-role {
  top: -0.5rem;
  width: 64px;
  height: 60px;
}

.viewer-role {
  top: -0.5rem;
  width: 54px;
  height: 64px;
  transform: scale(0.8) !important;
}

.moon {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  z-index: 2;
  display: none;
  transform: scale(0.9);
}

/* .streamer {
  background-color: #f77819;
}

.subscriber {
  background-color: #ffd400;
}

.vip {
  background-color: #7fe5d8;
}

.mod {
  background-color: #66d7b6;
}

.viewer {
  background-color: #d3964c;
} */

/* .streamer-box {
  background-color: #e86207;
  color: #ffe9cc;
}

.subscriber-box {
  background-color: #ffb000;
  color: #33363a;
}

.vip-box {
  background-color: #70d3e0;
  color: #33363a;
}

.mod-box {
  background-color: #43c29d;
  color: #33363a;
}

.viewer-box {
  background-color: #c4833d;
  color: #ffe9cc;
} */

@keyframes growFungiContainer {
  0% {
    width: 0;
    padding: 2.4rem 0;
  }
  100% {
    width: 38.2rem;
    padding: 2.4rem 2rem;
  }
}

@keyframes showLeftFungi {
  0% {
    transform: translateX(-100%) scale(0.65);
  }

  100% {
    transform: translateX(0%) scale(0.65);
  }
}

@keyframes showRightFungi {
  0% {
    transform: translateX(100%) rotateY(180deg) scale(0.65);
  }

  100% {
    transform: translateX(0%) rotateY(180deg) scale(0.65);
  }
}

@keyframes hideLeftStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes hideRightStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes showNames {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideNames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(0%);
    transform-origin: bottom center;
  }
}

@keyframes glowHearts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom left;
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom left;
  }
}

.dot {
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--user-color);
  border-radius: 50%;
  display: inline-block;
}

.logs {
  position: absolute;
  right: 0;
  bottom: -.8rem;
  transform: scale(.7);
}

.event-type {
  padding: .5rem;
  background-color: #488228;
  border-radius: 10px;
  color: var(--user-color);
  text-transform: uppercase;
}

.event-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 20rem;
}