* {
  font-family: 'Comfortaa', cursive;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

.scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.scale-down {
  transform: scale(0);
  transition: transform 0.2s;
}

.identifier-img {
  max-width: 3.125rem;
  border: 1px solid red;
}

.emotes {
  width: 4.375rem;
  vertical-align: middle;
}

main {
  overflow: hidden;
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.super-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: slideMessage;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  margin-top: 7rem;
}

#lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#small-line {
  width: 2px;
  height: 0;
  background-color: yellow;
  animation: growLine 0.5s 1.5s forwards;
}

#little-paw {
  opacity: 0;
  height: 0;
  animation: showPaw 1s 2s forwards;
}

#big-line {
  width: 2px;
  height: 0px;
  background-color: yellow;
  transition: height 1s ease-in-out;
}

.main-container {
  max-width: 37.5rem;
  background-color: #ffbbcd;
  margin-bottom: 0.2rem;
  margin-left: 20px;
  border-radius: 0.7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 1.875rem;
  width: 100%;
  border: 4px solid #e8526a;
}

.identifier-container {
  position: absolute;
  display: inline-block;
  top: -1.75rem;
  left: 1.6875rem;
  border: 1px solid blue;
}

.icon {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.border-decoration-container {
  position: absolute;
  top: -1.5625rem;
  right: 3.125rem;
  animation: glowHearts 0.8s ease-in;
}

.border-decoration-img {
  max-width: 2.5rem;
}

.username-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  gap: 10px;
}

.username-info {
  background-color: #ec6989;
  opacity: 97%;
  min-width: 200px;
  max-width: 500px;
  width: fit-content;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  /* box-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px; */
}

.strawberries {
  width: 70px;
}

.strawberries:first-child {
  transform: scaleX(-1);
  position: absolute;
  left: -3.8rem;
}

.strawberries:last-child {
  position: absolute;
  right: -3.8rem;
}

.flower {
  position: absolute;
  z-index: 1;
  width: 20px;
}

.flower-1 {
  left: -1rem;
  bottom: 2rem;
  transform: rotate(-25deg);
}

.flower-2 {
  left: 3rem;
  bottom: -1rem;
  transform: rotate(25deg);
}

.flower-3 {
  right: -1rem;
  bottom: 2rem;
  transform: rotate(25deg);
}

.flower-4 {
  right: 3rem;
  bottom: -1rem;
  transform: rotate(25deg);
}

.flower-5 {
  right: 6.5rem;
  top: -2.7rem;
}

.flower-6 {
  right: 3.7rem;
  top: -1rem;
}

.flower-7 {
  left: 6.5rem;
  top: -2.7rem;
}

.flower-8 {
  left: 3.7rem;
  top: -1rem;
}

.dot-1,
.dot-2,
.dot-3 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
}

.event-dot-1,
.event-dot-2,
.event-dot-3 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
}

.heart-1,
.heart-2,
.heart-3 {
  opacity: 0;
}

.event-heart-1,
.event-heart-2,
.event-heart-3 {
  opacity: 0;
}

/* .dot-3 {
  display: none;
} */

.heart-1 {
  animation: showHearts 0.6s 0.2s ease-in forwards;
}

.dot-1 {
  animation: showHearts 0.6s 0.3s ease-in forwards;
}

.heart-2 {
  animation: showHearts 0.6s 0.4s ease-in forwards;
}

.dot-2 {
  animation: showHearts 0.6s 0.5s ease-in forwards;
}

.heart-3 {
  animation: showHearts 0.6s 0.6s ease-in forwards;
}

.dot-3 {
  animation: showHearts 0.6s 0.7s ease-in forwards;
}

.event-heart-1 {
  animation: showHearts 0.6s 0.2s ease-in forwards;
}

.event-dot-1 {
  animation: showHearts 0.6s 0.3s ease-in forwards;
}

.event-heart-2 {
  animation: showHearts 0.6s 0.4s ease-in forwards;
}

.event-dot-2 {
  animation: showHearts 0.6s 0.5s ease-in forwards;
}

.event-heart-3 {
  animation: showHearts 0.6s 0.6s ease-in forwards;
}

.event-dot-3 {
  animation: showHearts 0.6s 0.7s ease-in forwards;
}

.hearts-container {
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: absolute;
  top: -8rem;
  left: -3.6rem;
}

.event-hearts-container {
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: absolute;
  top: -1rem;
  left: -1.9rem;
}

.username-badges {
  display: flex;
  gap: 5px;
}

.badges-img {
  background-color: transparent;
  width: 1.125rem;
  height: 1.125rem;
}

.capitalize-user {
  font-weight: bold;
  font-size: 1.3125rem;
  color: #fff
}

.message-container {
  padding-left: 1.1875rem;
  color: white;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.message-icon {
  height: 20px;
  width: 20px;
}

.text {
  font-size: 1.375rem;
  font-weight: 700;
}

.rendered-text {
  word-wrap: break-word;
  display: inline-block;
  width: 31.25rem;
  color: #972537;
  white-space: normal;
  margin-right: 0.625rem;
  /* padding-top: 1.5rem; */
  padding: 2rem 1.5rem 1rem 1.5rem;
  /* padding-left: 1.25rem; */
  /* padding-right: 1rem; */
}

.bar {
  display: none;
  width: calc(100% + 2px);
  overflow: hidden;
  height: 1.25rem;
  background-color: #fedadf;
  position: absolute;
  bottom: 0;
  left: -1px;
  border-radius: 0 0 1.875rem 1.875re;
}

.ribbon {
  position: absolute;
  bottom: -1.4375rem;
  left: 12.0625rem;
}

.pronouns {
  color: #ff9eb9;
  font-size: 12px;
  text-transform: uppercase;
  width: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prons {
  max-width: 100%;
  text-align: center;
  background: white;
  border-radius: 1.25rem;
  padding: 5px;
  box-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px;
}

.separator {
  background-color: transparent !important;
  border: none;
  justify-content: center;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -0.625rem !important;
  margin-bottom: 1.875rem !important;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
}

.emote img {
  max-width: 3.5rem;
  width: 100%;
}

@keyframes glowHearts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    /* transform-origin: center; */
  }

  50% {
    transform: scale(110%);
    /* transform-origin: center; */
  }

  100% {
    transform: scale(100%);
    /* transform-origin: center; */
  }
}

@keyframes slideMessageEvent {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom left;
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom left;
  }
}

@keyframes slideMessage2 {
  0% {
    /* transform: scale(0);
    transform-origin: bottom right; */
    opacity: 0;
  }

  /* 50% {
    transform: scale(110%);
    transform-origin: bottom right;
  } */

  100% {
    /* transform: scale(100%);
    transform-origin: bottom right; */
    opacity: 1;
  }
}

@keyframes popUpText {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: center center;
  }

  50% {
    transform: scale(110%);
    transform-origin: center center;
  }

  100% {
    transform: scale(0%);
    transform-origin: center center;
  }
}

.event-container {
  position: relative;
  left: 1.4rem;
  top: 1rem;
  max-width: 37rem;
  height: 100%;
  padding: 1rem 1rem 0.6rem 1rem;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-name: slideMessageEvent;
}

.sand-container {
  position: relative;
}

.sand {
  height: 5rem;
}

.widget {
  border: 1px solid red;
  width: 800px;
  height: 1000px;
}

.follow-name,
.sub-name,
.tip-name,
.cheer-name,
.raid-name,
.bulk-name {
  /* width: 60%; */
  height: 100%;
  text-align: center;
  z-index: 1;
  color: #eb6385;
  letter-spacing: normal;
  font-size: 1.375rem;
  animation: showNames 0.5s ease-in-out forwards;
  padding: 0.5rem;
}

.dots-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  background-color: white;
  border-radius: .3rem;
  padding: 0 0.4rem;
  margin-top: 0.8rem;
  margin-left: 2rem;
}

.dark-dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: black;
}

.dark-dot:nth-child(2) {
  order: 2;
  margin-right: 0.3rem;
}

.dark-dot:nth-child(1) {
  margin-left: 0.3rem;
}

@keyframes showNames {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideNames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.left-paw-container img,
.right-paw-container img {
  height: 30px;
  width: 30px;
}

.left-paw-container img {
  animation: showLeftPaw 0.5s ease-in-out forwards;
}

.right-paw-container img {
  animation: showRightPaw 0.5s ease-in-out forwards;
}

.purple-background {
  background-color: #e198f6;
  border: none;
}

.pink-background {
  background-color: #ff9eb9;
  border: none;
}

.white-text {
  color: white;
}

.purple-text {
  color: #e198f6;
}

.pink-text {
  color: #ff9eb9;
}

.low-opacity {
  opacity: 0.8;
}

@keyframes showLeftPaw {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes showRightPaw {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes hideLeftPaw {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes hideRightPaw {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.paws-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

@keyframes leftSprinkle {
  0% {
    transform: rotate(-45deg) translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg) translateX(10px);
    opacity: 1;
  }
}

@keyframes rightSprinkle {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg) translateX(10px);
    opacity: 1;
  }
}

@keyframes showPaw {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growLine {
  0% {
    height: 0;
  }

  100% {
    height: 1.5rem;
  }
}

@keyframes showHearts {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}