* {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

#top-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 1.325rem;
  position: relative;
}

.top-tip-container,
.top-cheer-container {
  background: linear-gradient( 90deg, #0e0518 0%, #c59aff 100%);
  border-radius: 10px;
  width: 350px;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  max-height: 40px;
  /* padding-left: 20px; */
}

.latest-tip-container,
.latest-cheer-container {
  background: linear-gradient( 90deg, #c59aff 0%, #0e0518 100%);
  border-radius: 10px;
  width: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 17px; */
  position: absolute;
  right: 0rem;
  top: 3.2rem;
  max-height: 40px;
}

.latest-tip-container::after,
.latest-cheer-container::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  right: 1rem;
  width: 20px;
  height: 25px;
  background-color: #0e0518;
  border-radius: 50%;
  z-index: -1;
}

.top-tip-container::after,
.top-cheer-container::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 1rem;
  width: 20px;
  height: 25px;
  background-color: #0e0518;
  border-radius: 50%;
  z-index: -1;
}

.cont {
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  transform: translate(170px);
  /* border: 1px solid red; */
  position: relative;
  height: 40px;
  /* transition: transform 6s linear; */
}

.latest-tip-cheer-qnty {
  /* overflow: hidden; */
  width: 165px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  padding-right: 1rem;
  /* transition: transform 6s linear; */
}

.top-tip-cheer-qnty {
  width: 200px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  padding-right: 1rem;
}

/* .top-tip-text {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
} */

.top-tip-text,
.top-cheer-text,
.latest-cheer-text,
.latest-tip-text {
  /* width: 120px; */
  padding-left: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  z-index: 2;
  /* padding-left: 13px; */
}

.top-cheer-text {
  width: 122px;
}

.top-tip-text {
  width: 155px;
}

.latest-tip-text {
  width: 160px;
  /* width: 190px !important; */
  /* padding-left: 3px; */
}

.latest-cheer-text {
  width: 142px;
  /* width: 285px; */
  /* padding-left: 3px; */
}

.top-tip-cheer-text-container,
.latest-tip-cheer-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.top-tip-cheer-text-container > p,
.latest-tip-cheer-text-container > p {
  min-width: 100%;
  text-align: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.latest-tip-cheer-text-container > p {
  color: #e96e99;
}

#first-copy-top {
  display: flex;
  transition: transform 10s linear;
  position: absolute;
  left: 0;
}

#second-copy-top {
  display: flex;
  transition: transform 10s linear;
  position: absolute;
  left: 0;
}

#first-copy-latest {
  display: flex;
}

#second-copy-latest {
  display: flex;
}

.widget {
  margin: 10rem;
}

.m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  z-index: 1;
}

.m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  white-space: nowrap;
  /* transition: transform 1s ease; */
}

.scroller-1,
.scroller-3,
.scroller-2,
.scroller-4 {
  display: flex;
  animation: scrollText 15s linear infinite;
  transform: translate(120%);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroller-1 p,
.scroller-3 p,
.scroller-2 p,
.scroller-4 p {
  margin: 0;
  display: flex;
  align-items: center;
}

/*
.m-scroll__title h1 {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  transition: transform 2s ease;
} */

@keyframes scrollText {
  from {
    /* opacity: 0; */
    transform: translateX(120%);
  }

  5% {
    /* opacity: 0; */
  }
  15% {
    /* opacity: 1; */
  }

  90% {
    /* opacity: 1; */
  }

  to {
    /* opacity: 0; */
    transform: translateX(-120%);
  }
}

.active {
  /* transition: opacity 0.5s ease; */
  opacity: 1;
}

.inactive {
  /* transition: opacity 0.5s ease; */
  opacity: 0;
}

.animate {
  animation: update 0.5s ease-in-out;
}

.animate2 {
  animation: update2 0.5s ease-in-out;
}

@keyframes update {
  from {
    transform: scale(0);
    transform-origin: bottom left;
  }

  50% {
    transform: scale(1.2);
    transform-origin: bottom left;
  }

  to {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

@keyframes update2 {
  from {
    transform: scale(0);
    transform-origin: bottom right;
  }

  50% {
    transform: scale(1.2);
    transform-origin: bottom right;
  }

  to {
    transform: scale(1);
    transform-origin: bottom right;
  }
}

.darkhole {
  position: absolute;
  top: 3rem;
  left: 2.5rem;
}