* {
  font-family: "Fredoka", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

main {
  overflow: hidden;
  height: 100%;
  max-height: 1080px;
  width: 100%;
  display: grid;
  place-content: center;
}

.widget {
  width: 800px;
  height: 1000px;
}

.tasks-container {
  background-color: #f8e0ff;
  border: 3px solid #ffefe6;
  height: 30rem;
  width: 30rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #df9bf0;
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
  color: #ffefe6;
  text-align: left;
  margin: 0 1rem;
}

.tasks-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  padding-top: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tasks-list::-webkit-scrollbar {
  display: none;
}

.tasks-list div:nth-last-child() {
  margin-bottom: 5rem;
}

.task {
  width: calc(100% - 2rem);
  min-height: 3rem;
  height: auto;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  color: #775a41;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.task p {
  height: fit-content;
}

.task-title {
  font-size: 1.3rem;
  width: 100%;
  color: #a35fb4;
}

.task-title span {
  font-size: 1.3rem;
  color: #a35fb4;
}

.progress {
  width: calc(100% - 2rem);
  height: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  display: flex;
  margin: 2rem 0;
  justify-self: flex-end;
}

.progress-bar {
  height: 0.5rem;
  background-color: #ff8c00;
  border-radius: 0.25rem;
  width: 50%;
}

input {
  align-self: center;
}

.flex-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.completed {
  color: #cc88dd;
  opacity: 0.7;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

.invisible {
  visibility: hidden;
}

.main-goal {
  overflow: hidden;
  max-height: 1080px;
  position: relative;
  top: 2rem;
  height: 212px;
  bottom: 0;
  width: 30rem;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  align-items: center;
  height: 150px;
  width: 25rem;
  position: relative;
}

#round {
  width: 25rem;
  height: 70px;
  /* padding: 0.4rem 1.5rem; */
  /* background-color: #ddb78a; */
  border-radius: 50px;
  /* border: 5px solid #ffeab6; */
  display: grid;
  place-content: center;
  position: relative;
}

.progress-bar-container {
  width: 25rem;
  height: 10px;
  border-radius: 8px;
  background-color: #f2c1fe;
  /* position: relative; */
  overflow: hidden;
}

.progression {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  color: #f3bdf9;
  font-size: 1.2rem;
  margin: auto;
  bottom: -0.3rem;
  right: 1.5rem;
  z-index: 4;
  /* text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em; */
}

.heart {
  position: absolute;
  bottom: 0rem;
  right: 1.5rem;
}

.progress-bar {
  display: flex;
  width: 0px;
  background-color: #df9bf0;
  height: 70px;
  transition: width 0.2s;
  position: relative;
}

.img-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden-container {
  position: absolute;
  height: 100%;
}

.img-container {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
  left: -1rem;
  transition: left 0.2s;
}

.img-container img {
  height: 60px;
}
.progression-img {
  position: absolute;
  /* right: -2rem; */
  top: 0.6rem;
  z-index: 3;
}

.goal-name {
  position: absolute;
  top: 0rem;
  /* left: 2rem; */
  height: 3.5rem;
  /* text-shadow: rgba(56, 56, 56, 0.65) 0.1em 0.1em 0.5em; */
  border-radius: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-transform: uppercase;
  color: #d79fe6;
}

.goal-name p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.left-ear {
  position: absolute;
  top: -1.2rem;
  left: 1rem;
  transform: scaleX(-1);
  z-index: -1;
}

.right-ear {
  position: absolute;
  top: -1.2rem;
  right: 1rem;
  z-index: -1;
}

.tail {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  z-index: -1;
}
