:root {
  --message-color: white;
  --message-background-color: #fff5ed;
  --message-border-color: #7bb87e;
  --user-color: white;
  --user-background-color: white;
  --user-border-color: #e6e6e6;
  --user-shadow: red 0px 0px 8px 3px;
  --pronouns-color: #fff;
  --pronouns-background-color: #ffffff;
  --pronouns-border-color: #e6e6e6;
  --pronouns-shadow-color: rgba(120, 120, 120, 0.38);
  --mods-background-color: #d1cfb4;
  --mods-message-border: #fff3eb;
  --event-background-color: transparent;
  --event-shadow-color: #a38c79;
  --event-color: #fef9fd;
}

* {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.125rem;
}

.new-cont {
  display: grid;
  place-content: center;
  width: 33.5rem;
  margin: 1rem 0;
}

.scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.scale-down {
  transform: scale(0);
  transition: transform 0.2s;
}

.emotes {
  width: 4.375rem;
  vertical-align: middle;
}

main {
  overflow: hidden;
  max-height: 1080px;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.super-main-container {
  display: flex;
  align-items: center;
  animation-name: slideMessage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* padding: 0 1rem; */
  background-color: transparent;
  transform-style: preserve-3d;
  justify-content: center;
  position: relative;
  /* margin-bottom: 1.875rem; */
  overflow: hidden;
  /* box-shadow: 0px 0px 15px 1px rgba(255, 0, 0, 1); */
  border-radius: 5px;
}
/* 
.main-container::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: linear-gradient(
    90deg,
    red,
    red,
    red,
    transparent,
    transparent,
    transparent
  );
  z-index: -2;
  transition: border;
  animation: rotate 3s linear forwards;
  border-radius: 5px;
  margin: auto;
}

.main-container::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  border-radius: 5px;
  background-color: black;
  z-index: -1;
} */

/* .main-container {
  max-width: 37.5rem;
  position: relative;
  display: grid;
  place-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 5px;
  background-color: black;
  box-shadow: red 0px 0px 8px 3px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-color: #1f1f1f;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  height: 60%;
  background: linear-gradient(
    90deg,
    #ff304e,
    #ff304e,
    #ff304e,
    transparent,
    transparent,
    transparent,
    transparent
  );
  z-index: -2;
  transition: border;
  animation: rotate 3s linear forwards;
  border-radius: 5px;
}

.main-container::after {
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 5px;
  background-color: #1f1f1f;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotateZ(1deg);
  }

  to {
    transform: rotateZ(360deg);
    border: 4px solid #1a2cef;
    background: #1a2cef;
    height: 100%;
  }
}

.username-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid #ff304e;
  margin-left: 2px;
  margin-right: 2px;
  animation: switchBorder 0.7s 2.8s forwards;
}

@keyframes switchBorder {
  from {
    border-bottom: 2px solid #ff304e;
  }

  to {
    border-bottom: 2px solid #1a2cef;
  }
}

.username-info {
  width: fit-content;
  border-radius: 1.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.flower {
  /* only for subs */
  position: absolute;
  border: 2px solid #ff304e;
  right: -1rem;
  top: -1rem;
  height: 40px;
  width: 40px;
  border-radius: 0 0 0 90%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: white;
  animation: rotateBorder 2s 2.5s forwards;
  transform: rotate(180deg);
  opacity: 1;
  background-color: transparent;
}

@keyframes rotateBorder {
  0% {
    transform: rotateZ(180deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: none;
  }

  39% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: none;
  }

  40% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  50% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  60% {
    transform: rotateZ(0deg);
    opacity: 0;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  70% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  80% {
    transform: rotateZ(0deg);
    opacity: 0;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  90% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  95% {
    transform: rotateZ(0deg);
    opacity: 0;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #ff304e, 0 0 1em 2px #ff304e;
  }

  100% {
    transform: rotateZ(0deg);
    opacity: 1;
    transform-origin: top right;
    box-shadow: inset 0 0 1em 2px #1a2cef, 0 0 1em 2px #1a2cef;
  }
}

.leafs-container {
  position: absolute;
  right: 0.6rem;
  bottom: 0.3rem;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.username-badges {
  display: flex;
  gap: 5px;
}

.badges-img {
  background-color: transparent;
  width: 1.125rem;
  height: 1.125rem;
}

.hyphen {
  width: 1rem;
  height: 0.125rem;
  margin: 0 10px;
  /* border-radius: 50%; */
  background-color: var(--user-color);
  box-shadow: #ff304e 1px 0px 8px, #ff304e -1px 0px 8px, #ff304e 0px 1px 8px,
    #ff304e 0px -1px 8px;
  animation: switchBoxShadow 0.7s 2.8s forwards;
}

@keyframes switchBoxShadow {
  from {
    box-shadow: #ff304e 1px 0px 8px, #ff304e -1px 0px 8px, #ff304e 0px 1px 8px,
      #ff304e 0px -1px 8px;
  }

  to {
    box-shadow: #1a2cef 1px 0px 8px, #1a2cef -1px 0px 8px, #1a2cef 0px 1px 8px,
      #1a2cef 0px -1px 8px;
  }
}

.capitalize-user {
  color: var(--user-color);
  font-weight: bold;
  padding-left: 6px;
  font-size: 1.35rem;
  display: inline-block;
  max-width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: #ff304e 1px 0px 8px, #ff304e -1px 0px 8px, #ff304e 0px 1px 8px,
    #ff304e 0px -1px 8px;
  animation: switchShadow 0.7s 2.8s forwards;
}

@keyframes switchShadow {
  from {
    text-shadow: #ff304e 1px 0px 8px, #ff304e -1px 0px 8px, #ff304e 0px 1px 8px,
      #ff304e 0px -1px 8px;
  }

  to {
    text-shadow: #1a2cef 1px 0px 8px, #1a2cef -1px 0px 8px, #1a2cef 0px 1px 8px,
      #1a2cef 0px -1px 8px;
  }
}

.message-container {
  /* padding-left: 1.1875rem; */
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
  /* margin-top: 0.625rem; */
}

.text {
  font-size: 1.5rem;
  padding-left: 12px;
  font-weight: 700;
}

.rendered-text {
  word-wrap: break-word;
  display: inline-block;
  width: 31.25rem;
  color: var(--message-color);
  white-space: normal;
  margin-right: 0.625rem;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1rem;
  animation: twinkleText 0.5 1 forwards;
}

.pronouns {
  color: var(--pronouns-color);
  /* text-overflow: ellipsis; */
  text-shadow: #ff304e 1px 0px 8px, #ff304e -1px 0px 8px, #ff304e 0px 1px 8px,
    #ff304e 0px -1px 8px;
  font-size: 12px;
  text-transform: uppercase;
  /* text-align: center; */
  width: 6.25rem;
  justify-self: right;
  margin-right: 2rem;
  /* position: relative; */
  bottom: -5.3rem;
  left: 14rem;
  z-index: 1;
  animation: switchShadow 0.7s 2.8s forwards;
}

.prons {
  max-width: 100%;
  text-align: center;
  /* background: var(--pronouns-background-color); */
  border-radius: 1.25rem;
  /* padding: 7px; */
  /* box-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px; */
}

.separator {
  background-color: transparent !important;
  border: none;
  justify-content: center;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -0.625rem !important;
  margin-bottom: 1.875rem !important;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
}

.emote img {
  max-width: 3.5rem;
  width: 100%;
}

.invert {
  transform: scaleX(-1);
}

.event-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 33.5rem;
  /* padding: 1rem 1rem 0.6rem 0rem; */
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  /* left: 1.875rem; */
  width: 33.5rem;
  overflow: hidden;
  /* margin-bottom: .3rem; */
}

.widget {
  width: 800px;
  height: 1000px;
}

.event-name {
  max-width: 300px;
  height: 100%;
  top: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--event-color);
  letter-spacing: normal;
  font-size: 1.5rem;
  animation: showNames 1s ease-in-out forwards;
  background-color: var(--event-background-color);
  padding: 3px 10px;
  border-radius: 40px;
  text-shadow: #9fa7f9 1px 0px 8px, #9fa7f9 -1px 0px 8px, #9fa7f9 0px 1px 8px,
    #9fa7f9 0px -1px 8px;
}

.event-leafs-container-1,
.event-leafs-container-2 {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
}

.event-leafs-container-1 img,
.event-leafs-container-2 img {
  height: 37px;
  width: 40px;
  transform: scale(0.65);
}

.event-leafs-container-1 img {
  animation: showLeftFungi 0.5s ease-in-out forwards;
}

.event-leafs-container-2 img {
  order: 2;
  transition: none;
  transform: rotateY(180deg);
  animation: showRightFungi 0.5s ease-in-out forwards;
}

.event-leafs-container-2 {
  order: 2;
}

.role-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.role {
  width: 48px;
  height: 55px;
  transform: scale(0.65);
}

.fungi-div-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-100px);
  animation: showEnfuche 1s ease-in-out forwards;
}

@keyframes showEnfuche {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0px);
  }
}

.fungi {
  width: 40px;
  height: 40px;
}

.fungi-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

@keyframes showLeftFungi {
  0% {
    transform: translateX(-100%) scale(0.65);
  }

  100% {
    transform: translateX(0%) scale(0.65);
  }
}

@keyframes showRightFungi {
  0% {
    transform: translateX(100%) rotateY(180deg) scale(0.65);
  }

  100% {
    transform: translateX(0%) rotateY(180deg) scale(0.65);
  }
}

@keyframes hideLeftStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes hideRightStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes showNames {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideNames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(0%);
    transform-origin: bottom center;
  }
}

@keyframes glowHearts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    transform-origin: bottom center;
    transform-style: preserve-3d;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
    transform-style: preserve-3d;
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom center;
    transform-style: preserve-3d;
  }
}

@keyframes popUpText {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
