* {
  margin: 0;
  border: none;
  padding: 0;
}

.main {
  height: 100%;
  display: grid;
  place-content: center;
  font-family: "Fredoka", sans-serif;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}
.widget {
  width: 800px;
  height: 1000px;
}

.pomo-container {
  transform: scale(.7);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 350px;
  width: 250px;
  font-weight: bold;
  color: white;
  font-size: 3rem;
  background: url("https://i.ibb.co/LvCHdDs/vasograndelila.png") no-repeat center;
  background-size: contain;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.title-counter {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 3rem;
  gap: 2rem;
  font-weight: 600;
  & p {
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
  }
  & span {
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
  }
}

.counter-separator {
  width: 300px;
  height: 3px;
  background-color: white;
  border-radius: 50px;
}

.objective-heart {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: #8f4ba0;
  width: 100%;
  & p {
    font-size: 3rem;
    padding: 1rem 0;
  }

  & span {
    margin-left: 5rem;
  }
}

.pomo-counter {
  transform: scale(0.7) translate(-100px, 0);
  /* position: absolute; */
  /* left: 20rem; */
  width: 400px;
  height: 200px;
  display: grid;
  place-content: center;
  background-color: #df9bf0;
  border-radius: 70px;
  border: 4px solid white;
  margin-top: 4rem;
}

.main-cont {
  display: flex;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #8f4ba0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.circle-1 {
  position: absolute;
  bottom: 1rem;
  left: 5.5rem;
  visibility: hidden;
}

.circle-2 {
  position: absolute;
  bottom: 1rem;
  right: 5.5rem;
  visibility: hidden;
}

.circle-3 {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  visibility: hidden;
}

.circle-4 {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  visibility: hidden;
}

.circle-5 {
  position: absolute;
  bottom: 4rem;
  left: 7rem;
  visibility: hidden;
}